In [1]:
import urllib.parse as up
import psycopg2

up.uses_netloc.append("postgres")
url = up.urlparse('postgres://xnutinlt:k6-EDVQeHvRz5SynpWPdhFH9K3tRD1E8@balarama.db.elephantsql.com:5432/xnutinlt')
conn = psycopg2.connect(database=url.path[1:],
user=url.username,
password=url.password,
host=url.hostname,
port=url.port
)

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgres://xnutinlt:k6-EDVQeHvRz5SynpWPdhFH9K3tRD1E8@balarama.db.elephantsql.com:5432/xnutinlt')
iris_df.to_sql('iris_dataset', engine)

ModuleNotFoundError: No module named 'sqlalchemy'

In [6]:
import seaborn as sns
iris_df = sns.load_dataset('iris')

In [7]:
iris_df.to_sql(name='iris_dataset', con=conn, if_exists = 'append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [3]:
import pandas as pd