In [4]:
import urllib.parse as up
import psycopg2

up.uses_netloc.append("postgres")
url = up.urlparse('postgres://xnutinlt:k6-EDVQeHvRz5SynpWPdhFH9K3tRD1E8@balarama.db.elephantsql.com:5432/xnutinlt')
conn = psycopg2.connect(database=url.path[1:],
user=url.username,
password=url.password,
host=url.hostname,
port=url.port
)

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgres://xnutinlt:k6-EDVQeHvRz5SynpWPdhFH9K3tRD1E8@balarama.db.elephantsql.com:5432/xnutinlt')
iris_df.to_sql('iris_dataset', engine)

In [6]:
import seaborn as sns
iris_df = sns.load_dataset('iris')

In [10]:
import pandas as pd

In [11]:
df = pd.read_sql('select * from "iris_dataset" ',engine)

In [12]:
df

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        0           5.1          3.5           1.4          0.2     setosa
1        1           4.9          3.0           1.4          0.2     setosa
2        2           4.7          3.2           1.3          0.2     setosa
3        3           4.6          3.1           1.5          0.2     setosa
4        4           5.0          3.6           1.4          0.2     setosa
..     ...           ...          ...           ...          ...        ...
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]

In [7]:
iris_df.to_sql(name='iris_dataset', con=conn, if_exists = 'append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [3]:
import pandas as pd